p,h1,h2,h3 {
    color: orangered;
}

h1{
    text-align: center;
}


.important-text{
    color: brown;
}

/*significance of selector
element selector
ID selector #
Class selector .
Attribute selector img[src] < example when selecting an image with the source src
Pseudo-class selector a:hover <--selects a but only when mouse hovering over

*/
#Main-text{ 
    color: red;
}

a:hover{
    color: grey;
}

*{
    font-family:Arial, Helvetica, sans-serif;
}

.box{
    background-color: orange;
    text-align: center;
}

ul{
    display: inline-block;
    text-align: left;
}

#matias_picture{
    width: 20%;
}